extends layout

block content
	.container-fluid
		.row
			.col-md-8.col-md-offset-2
				#main(align='center')
					h1 My Slides
					p Here are the slides you have uploaded previously!
					p 
						a(href="/") Upload a new file here
					br
					table.table.table-hover.table-layout-fixed
						thead
							tr
								th.text-center Session Code
								th.text-center File Name
								th.text-center Action
						tbody
							each slide in owned_slides
								tr 
									td.text-center
										a(href="/analysis/#{slide.id}")
											strong= slide.id
									td.text-center.truncate-cell-data= slide.name
									td.text-center
										a(href="/view/#{slide.id}")
											span.glyphicon.glyphicon-zoom-in
										|&nbsp;&nbsp;&nbsp;
										a(href="/analysis/#{slide.id}")
											span.glyphicon.glyphicon-stats