extends layout

block content
	.container-fluid
		.row
			.col-md-8.col-md-offset-2
				#main(align='center')
					//h1= title
					//p Welcome to #{title}

					h1 LectureApp
					p Your Session Code: 
					input.form-control(type='text', name='id', value='#{id}')
					br
					p Hi 
						strong= user
						, you are analysing data for slides:
					p
						a(href="/download/?path=#{path}", title="click to download!")
							strong #{path}.pdf
					table.table.table-hover
						thead
							tr
								th.col-md-3.text-center Slide no.
								th.col-md-3.text-center No. of Confusions
						tbody
							each annotation in annotations
								tr 
									td.text-center 
										strong= annotation._id
									td.text-center= annotation.confusionCount