extends layout

block content
	.container-fluid
		.row
			.col-sd-8.col-sd-offset-2
				#main(align='center')
					h1 Session Stats
					p 
						a(href="/view/#{id}")
							span.glyphicon.glyphicon-zoom-in
						strong Session Code: 
						| #{id}
					p
						strong Number of Users Participated: 
						| #{num_users}

					hr

					h2 Confusion Chart
					p 
						a(onclick="location.reload();") Update 
							span.glyphicon.glyphicon-refresh
					canvas.charts(id="confusion-chart")

					hr

					h2 Confusion Table
					p Slides sorted by descending confusion. 
						a(onclick="location.reload();") Update 
							span.glyphicon.glyphicon-refresh
					table.table.table-hover
						thead
							tr
								th.col-md-3.text-center Slide no.
								th.col-md-3.text-center No. of Confusions
						tbody
							each annotation in annotations
								tr 
									td.text-center 
										strong= annotation._id
									td.text-center= annotation.confusionCount


	script(type='text/javascript').
		load_chart(!{JSON.stringify(annotations)});