extends layout

block content
	.container-fluid
		.row
			.col-md-8.col-md-offset-2
				#main(align='center')
					h1 Session Stats
					p 
						strong Session Code: 
					strong
						input.form-control.text-center(type='text', name='id', value='#{id}')
					br
					//p Hi 
					//	strong= user
					//	, you are analysing data for slides:
					//p.wrap-text
					//	a(href="/download/?path=#{path}", title="click to download!")
					//		strong #{path}.pdf

					hr
					h2 Confusion Table
					p Slides sorted by descending confusion. 
						a(onclick="location.reload();") Update 
							span.glyphicon.glyphicon-refresh
					table.table.table-hover
						thead
							tr
								th.col-md-3.text-center Slide no.
								th.col-md-3.text-center No. of Confusions
						tbody
							each annotation in annotations
								tr 
									td.text-center 
										strong= annotation._id
									td.text-center= annotation.confusionCount